<!--<!doctype html>-->
<html>

<head>
<style>
<!-- body { -->
  <!-- background-color: lightblue; -->
<!-- } -->

<!-- h1 { -->
  <!-- color: white; -->
  <!-- text-align: center; -->
<!-- } -->

<!-- p { -->
  <!-- font-family: verdana; -->
  <!-- font-size: 20px; -->
<!-- } -->
.js-plotly-plot,
.plot-container {
          height: 100vh
}
</style>
</head>

<body>
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    {{test | safe}}

</body>

</html>
